.tabContainer {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  height: 37px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  max-width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (min-width: 604px) {
    height: 48px;
    justify-content: initial;
    padding-top: 5px;
  }

  @media (min-width: 768px) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.tabWrapper {
  align-items: flex-start;
  display: flex;
}

.tabMenuTab {
  align-items: center;
  border-bottom: 2px solid transparent;
  color: #707070;
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
  margin-right: 20px;
  padding-bottom: 14px;
  transition: border 0.2s linear;
  width: -moz-max-content;
  width: max-content;

  @media (min-width: 604px) {
    font-size: 18px;
    margin-right: 30px;
    padding-bottom: 16.5px;
  }

  &.activeTab {
    border-bottom: 2px solid;
    color: #191919;
  }

  &::before {
    border-radius: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    border: 2px solid transparent;
    content: "";
    pointer-events: none;
    position: absolute;
    transform: scale(0.85);
    transition: border-color 0.15s linear, transform 0.15s ease;
  }

  & > svg {
    display: inline-flex;
    fill: currentColor;
    margin-right: 8px;
    width: 14px;
  }
}

.tabDivider {
  border-left: 1px solid;
  color: #e8e8e8;
  display: inline-block;
  height: 25px;
  margin-right: 20px;

  @media (min-width: 604px) {
    margin-right: 30px;
  }
}
